<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>臺北地區</key>
<array>
<string>福隆</string>
<string>貢寮</string>
<string>雙溪</string>
<string>牡丹</string>
<string>三貂嶺</string>
<string>侯硐</string>
<string>瑞芳</string>
<string>四腳亭</string>
<string>暖暖</string>
<string>基隆</string>
<string>三坑</string>
<string>八堵</string>
<string>七堵</string>
<string>百福</string>
<string>五堵</string>
<string>汐止</string>
<string>汐科</string>
<string>南港</string>
<string>松山</string>
<string>臺北</string>
<string>萬華</string>
<string>板橋</string>
<string>浮洲</string>
<string>樹林</string>
<string>山佳</string>
<string>鶯歌</string>
</array>
<key>桃園地區</key>
<array>
<string>桃園</string>
<string>內壢</string>
<string>中壢</string>
<string>埔心</string>
<string>楊梅</string>
<string>富岡</string>
</array>
<key>高雄地區</key>
<array>
<string>大湖</string>
<string>路竹</string>
<string>岡山</string>
<string>橋頭</string>
<string>楠梓</string>
<string>新左營</string>
<string>左營</string>
<string>高雄</string>
<string>鳳山</string>
<string>後庄</string>
<string>九曲堂</string>
</array>
<key>屏東地區</key>
<array>
<string>六塊厝</string>
<string>屏東</string>
<string>歸來</string>
<string>麟洛</string>
<string>西勢</string>
<string>竹田</string>
<string>潮州</string>
<string>崁頂</string>
<string>南州</string>
<string>鎮安</string>
<string>林邊</string>
<string>佳冬</string>
<string>東海</string>
<string>枋寮</string>
<string>加祿</string>
<string>內獅</string>
<string>枋山</string>
</array>
<key>臺東地區</key>
<array>
<string>古莊</string>
<string>大武</string>
<string>瀧溪</string>
<string>金崙</string>
<string>太麻里</string>
<string>知本</string>
<string>康樂</string>
<string>臺東</string>
<string>山里</string>
<string>鹿野</string>
<string>瑞源</string>
<string>瑞和</string>
<string>月美</string>
<string>關山</string>
<string>海端</string>
<string>池上</string>
</array>
<key>花蓮地區</key>
<array>
<string>富里</string>
<string>東竹</string>
<string>東里</string>
<string>玉里</string>
<string>三民</string>
<string>瑞穗</string>
<string>富源</string>
<string>大富</string>
<string>光復</string>
<string>萬榮</string>
<string>鳳林</string>
<string>南平</string>
<string>溪口</string>
<string>豐田</string>
<string>壽豐</string>
<string>平和</string>
<string>志學</string>
<string>吉安</string>
<string>花蓮</string>
<string>北埔</string>
<string>景美</string>
<string>新城</string>
<string>崇德</string>
<string>和仁</string>
<string>和平</string>
</array>
<key>宜蘭地區</key>
<array>
<string>漢本</string>
<string>武塔</string>
<string>南澳</string>
<string>東澳</string>
<string>永樂</string>
<string>蘇澳</string>
<string>蘇澳新</string>
<string>新馬</string>
<string>冬山</string>
<string>羅東</string>
<string>中里</string>
<string>二結</string>
<string>宜蘭</string>
<string>四城</string>
<string>礁溪</string>
<string>頂埔</string>
<string>頭城</string>
<string>外澳</string>
<string>龜山</string>
<string>大溪</string>
<string>大里</string>
<string>石城</string>
</array>
<key>平溪線</key>
<array>
<string>菁桐</string>
<string>平溪</string>
<string>嶺腳</string>
<string>望古</string>
<string>十分</string>
<string>大華</string>
</array>
<key>內灣/六家線</key>
<array>
<string>千甲</string>
<string>新莊</string>
<string>竹中</string>
<string>六家</string>
<string>上員</string>
<string>榮華</string>
<string>竹東</string>
<string>橫山</string>
<string>九讚頭</string>
<string>合興</string>
<string>富貴</string>
<string>內灣</string>
</array>
<key>集集線</key>
<array>
<string>源泉</string>
<string>濁水</string>
<string>龍泉</string>
<string>集集</string>
<string>水里</string>
<string>車埕</string>
</array>
<key>沙崙線</key>
<array>
<string>長榮大學</string>
<string>沙崙</string>
</array>
<key>新竹地區</key>
<array>
<string>湖口</string>
<string>新豐</string>
<string>竹北</string>
<string>北新竹</string>
<string>新竹</string>
<string>香山</string>
<string>北湖</string>
</array>
<key>苗栗地區</key>
<array>
<string>崎頂</string>
<string>竹南</string>
<string>談文</string>
<string>大山</string>
<string>後龍</string>
<string>龍港</string>
<string>白沙屯</string>
<string>新埔</string>
<string>通霄</string>
<string>苑裡</string>
<string>造橋</string>
<string>豐富</string>
<string>苗栗</string>
<string>南勢</string>
<string>銅鑼</string>
<string>三義</string>
</array>
<key>臺中地區</key>
<array>
<string>日南</string>
<string>大甲</string>
<string>臺中港</string>
<string>清水</string>
<string>沙鹿</string>
<string>龍井</string>
<string>大肚</string>
<string>追分</string>
<string>泰安</string>
<string>后里</string>
<string>豐原</string>
<string>潭子</string>
<string>太原</string>
<string>臺中</string>
<string>大慶</string>
<string>烏日</string>
<string>新烏日</string>
<string>成功</string>
</array>
<key>彰化地區</key>
<array>
<string>彰化</string>
<string>花壇</string>
<string>大村</string>
<string>員林</string>
<string>永靖</string>
<string>社頭</string>
<string>田中</string>
<string>二水</string>
</array>
<key>雲林地區</key>
<array>
<string>林內</string>
<string>石榴</string>
<string>斗六</string>
<string>斗南</string>
<string>石龜</string>
</array>
<key>嘉義地區</key>
<array>
<string>大林</string>
<string>民雄</string>
<string>嘉北</string>
<string>嘉義</string>
<string>水上</string>
<string>南靖</string>
</array>
<key>臺南地區</key>
<array>
<string>後壁</string>
<string>新營</string>
<string>柳營</string>
<string>林鳳營</string>
<string>隆田</string>
<string>拔林</string>
<string>善化</string>
<string>南科</string>
<string>新市</string>
<string>永康</string>
<string>大橋</string>
<string>臺南</string>
<string>保安</string>
<string>中洲</string>
</dict>
</plist>
